@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Fredericka+the+Great|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Fredericka+the+Great|Marvel|Open+Sans+Condensed:300');

body {

   background-color: #ef9a9a;
   @grid-columns: 12;
	@grid-gutter-width: 30px;
	@grid-float-breakpoint:768px;

    
}

#thevideo {
	visibility: hidden;
	text-align: center;
}

#thecanvas {
	visibility: hidden;
	text-align: center;
    background-color: grey;
    font-family: 'Marvel', sans-serif;
}

#thevideo {
/*	visibility: hidden; 
*/}

#thecanvas {
	/*visibility: hidden;*/

}

input[type=submit], .submitbutton{
	cursor: pointer;

	font-family: 'Marvel', sans-serif;
	
	

}
/*
input[type=text] {
	
	
}*/

h1 {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	color: #263238;
}



.pull-right {
	margin-border: 10px;
}


.pull-left {
	margin-border: 10px;
}

#text {
	font-family: 'Marvel', sans-serif;
}

input[type=text] {
	font-family: 'Marvel', sans-serif;
}

#submit-message {
	font-family: 'Marvel', sans-serif;
	color: #616161;
}

.btn-default {
	color: #37474f;
}
