/*body {
	background-color: #9c466d;
}*/

span#print{
   /* background-color:#a9e2f9;*/
    padding:5px;
    color: white;
    font-size: 80px;
    font-family: 'Cabin Sketch', cursive;

}

span#print2{
   /* background-color:#a9e2f9;*/
    padding:5px;
    color: "#03144b";
    font-size: 80px;
    font-family: 'Cabin Sketch', cursive;

}
#leftscreen{
	width: 50%;
}

#rightscreen{
	width: 50%;
}

/*span#title {
	color: #c6b1c0;
	font-family: 'Roboto', sans-serif;
}
*/
