body {
	background-color: #9c466d;
}

span#print{
   /* background-color:#a9e2f9;*/
    padding:5px;
    color: white;
    font-family: 'Cabin Sketch', cursive;

}

/*span#title {
	color: #c6b1c0;
	font-family: 'Roboto', sans-serif;
}
*/
