body {
	background-color: #9c466d;
}

span#print{
   /* background-color:#a9e2f9;*/
    padding:5px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 75px;

}

h3 {
	color: white;
	font-family: 'Roboto', sans-serif;

}
